<app-toolbar-left-customer>
    <div class="subscription-card-container">
      <div class="subscription-card-horizontal">
        <mat-card class="subscription-card-content">
          <img src="https://boluda.com/files/contenido-premium-300x240.jpg" class="subscription-card-image">
          <mat-card-content>
            <mat-card-title>Plan Premium para Proveedores</mat-card-title>
            <p><i class="material-icons" style="color: #4CAF50;">check</i> Acceso a una amplia gama de componentes de alta calidad.</p>
            <p><i class="material-icons" style="color: #4CAF50;">check</i> Soporte 24/7 para sus consultas y problemas.</p>
            <p><i class="material-icons" style="color: #4CAF50;">check</i> Actualizaciones y ofertas exclusivas.</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="primary">Suscribirse</button>
          </mat-card-actions>
        </mat-card>
      </div>

      <div class="subscription-card-horizontal">
        <mat-card class="subscription-card-content">
          <img src="https://static.vecteezy.com/system/resources/previews/003/266/188/original/premium-service-provider-vector.jpg" alt="Imagen de Plan Premium para Usuarios" class="subscription-card-image">
          <mat-card-content>
            <mat-card-title>Plan Premium para Usuarios</mat-card-title>
            <p><i class="material-icons" style="color: #4CAF50;">check</i> Recomendaciones personalizadas de productos.</p>
            <p><i class="material-icons" style="color: #4CAF50;">check</i> Acceso a ofertas y descuentos exclusivos.</p>
            <p><i class="material-icons" style="color: #4CAF50;">check</i> Asistencia técnica prioritaria.</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="primary">Suscribirse</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
</app-toolbar-left-customer>
