.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.23);
}

.signin-card {
  width: 300px;
  padding: 20px;
  margin-right: 150px;
}
.image-container {
  flex: 1;
  padding: 20px;
}

.image-container img {
  max-width: 90%;
  height: auto;
}

.signin-container {
  flex: 1;
  padding: 20px;
}
.error-message {
  color: red;
}
