<app-toolbar-top (useToggleSideNav)="useToggle($event)"></app-toolbar-top>

<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" [opened] = "toggle">
    <div class="image-container">
      <div class="profile-image"></div>
      <a routerLink="/customer-profile" mat-button>Perfil</a>
    </div>

    <div class="options-container">
      <div class="buttons-container">
        <a routerLink="/search-components" mat-button>Buscar</a>
        <a routerLink="/shopping-cart" mat-button>Carrito de Compras</a>
        <a  routerLink="/my-favorites"  mat-button>Favoritos</a>

        <a  routerLink="/subscription" mat-button>Suscripciones</a>
        <a  routerLink = "/advance-filter"  mat-button>Filtro Avanzado</a>

        <a routerLink="/"  mat-button><i class="pi pi-sign-out"></i> <span>Log out </span> </a>

      </div>
    </div>

  </mat-sidenav>
  <mat-sidenav-content  [style.width] = "width">
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>

