<mat-toolbar color="primary">

  <button mat-icon-button (click)="emitToggleSideNav()">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="toolbar-title">Tech Shop</span>

  <div class="toolbar-container">

    <div class="spacer"></div>
    <div class="profile-button" (click)="toggleMenu()">
      <button class="profile-button-content">
        {{ selectedRole || 'Users' }} <span [innerHTML]="showMenu ? '▲' : '▼'"></span>
      </button>
    </div>
    <div *ngIf="showMenu" class="menu-card">
      <ul class="menu-options">
        <li (click)="selectRole('Seller')">Seller</li>
        <li (click)="selectRole('Customer')">Customer</li>
      </ul>
    </div>
  </div>
</mat-toolbar>

