.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.signup-card {
  width: 400px;
  padding: 30px;
  margin-right: 150px; /* Asegúrate de que este margen sea necesario */
}

.image-container {
  flex: 1;
  padding: 20px;
}

.image-container img {
  max-width: 100%; /* Cambiado a 100% para hacerlo más responsive */
  height: auto;
}

.signup-container {
  flex: 1;
  padding: 20px;
}

@media only screen and (max-width: 600px) {
  .signup-card {
    margin-right: 0; /* Elimina el margen en pantallas pequeñas */
  }

  .container {
    flex-direction: column; /* Cambia a dirección de columna en pantallas pequeñas */
    text-align: center; /* Centra el texto en pantallas pequeñas */
  }

  .signup-card,
  .image-container,
  .signup-container {
    width: 100%; /* Ancho al 100% en pantallas pequeñas */
    margin: 0; /* Elimina los márgenes en pantallas pequeñas */
  }
}
