<form (submit)="validatePostFromForm()" [formGroup]="formAddComponent" class="add-post-form" *ngIf="!addEditService.modeEdit; else elseEdit">
  <mat-form-field class = "photo-input">
    <mat-label>Url de la imagen</mat-label>
    <input matInput formControlName="photo">
  </mat-form-field>

  <mat-form-field class = "name-input">
    <mat-label>Nombre del producto</mat-label>
    <input matInput formControlName="name">
  </mat-form-field>

  <mat-form-field class = "name-input">
    <mat-label>Marca</mat-label>
    <input matInput formControlName="manufacturer">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Tipo de producto</mat-label>
    <input #input
           type="text"
           placeholder="Pick one"
           matInput
           formControlName="type"
           [matAutocomplete]="auto"
           (input)="filter()"
           (focus)="filter()"
           (blur)="handleBlur()">
    <mat-autocomplete requireSelection #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field class="description-text-area">
    <mat-label>Descripción</mat-label>
    <textarea matInput  formControlName="description"></textarea>
  </mat-form-field>

  <div class="number-inputs">
    <mat-form-field floatLabel="always">
      <mat-label>Cantidad</mat-label>
      <input matInput type="number" class="example-right-align" placeholder="0" formControlName="amount">
    </mat-form-field>

    <mat-form-field floatLabel="always">
      <mat-label>Precio</mat-label>
      <input matInput type="number" class="example-right-align" placeholder="0" formControlName="price">
      <span matTextPrefix>S/&nbsp;</span>
    </mat-form-field>
  </div>

  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>

  <button type="submit" mat-button> <i class="pi pi-plus"> </i> <span>Agregar publicación</span></button>

</form>

<ng-template #elseEdit>
  <form (submit)="validatePostFromForm()" [formGroup]="formAddComponent" class="add-post-form">
    <mat-form-field class = "photo-input">
      <mat-label>Url de la imagen</mat-label>
      <input matInput formControlName="photo">
    </mat-form-field>

    <mat-form-field class = "name-input">
      <mat-label>Nombre del producto</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>

    <mat-form-field class = "name-input">
      <mat-label>Marca</mat-label>
      <input matInput formControlName="manufacturer">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Tipo de producto</mat-label>
      <input #input
             type="text"
             placeholder="Pick one"
             matInput
             formControlName="type"
             [matAutocomplete]="auto"
             (input)="filter()"
             (focus)="filter()"
             (blur)="handleBlur()">
      <mat-autocomplete requireSelection #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field class="description-text-area">
      <mat-label>Descripción</mat-label>
      <textarea matInput  formControlName="description"></textarea>
    </mat-form-field>

    <div class="number-inputs">
      <mat-form-field floatLabel="always">
        <mat-label>Cantidad</mat-label>
        <input matInput type="number" class="example-right-align" placeholder="0" formControlName="amount">
      </mat-form-field>

      <mat-form-field floatLabel="always">
        <mat-label>Precio</mat-label>
        <input matInput type="number" class="example-right-align" placeholder="0" formControlName="price">
        <span matTextPrefix>S/&nbsp;</span>
      </mat-form-field>
    </div>

    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>


    <button type="submit" mat-button> <i class="pi pi-file-edit"> </i> <span> Editar publicación</span></button>
  </form>
</ng-template>

